<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {%block title%}
            <!--Título de cada página-->
        {%endblock%}
        | Eric Márquez
    </title>
    
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}"/>
</head>

<body>

    <!--Cabezara de la página-->
    <header>
        <div id="logotipo">
            <!--Logotipo BC&B-->
            <img src="{% static 'images/BCB.jpg' %}"/>
            <!--<img src="{% static 'images/logo.png' %}"/>-->
            <h1>HIGHBROW</h1>
        </div>
        
    </header>

    <nav>
        <ul>
            <li>
                <a href="{% url 'inicio' %}">Inicio</a>
            </li>
            <li>
                <a href="{% url 'hola_mundo' %}">Hola Mundo</a>
            </li>
            <li>
                <a href="{% url 'crea' %}">Formulario con Django</a>
            </li>
            <li>
                <a href="{% url 'crea_completo' %}">Formulario Completo</a>
            </li>
            <li>
                <a href="{% url 'listar-articulos' %}">Articulos Existentes</a>
            </li>
            <li>
                <a href="{% url 'pagina' %}">Página de Pruebas</a>
            </li>
            <li>
                <a href="{% url 'pagina' %}">Página de Pruebas</a>
            </li>
            <li>
                <a href="{% url 'Contacto' 'Gricel' 'Arzate' %}">Siempre en contacto</a>
            </li>
        </ul>    
    </nav>
<!--Efecto 3D por debajo de la barra de menú-->
    <div class="barra">
        <span class="esquina-izquierda"></span>
        <span class="relleno-barra"></span>
        <span class="esquina-derecha"></span>
    </div>  

    <div id="content">
        <div class="box">
            {%block content%}
                <!--Código que viene de templates-->
                <strong>Contenido original del layout </strong>
            {%endblock%}
        </div>
        
    </div>
    <footer>
        Master en Python &copy;  {% now "d/m/Y"  %}
        <a href="http://www.djangoproject.com/"><img src="https://www.djangoproject.com/m/img/badges/djangowish126x70.gif" border="0" alt="A Django site." title="I wish this site was powered by Django." /></a>
    </footer>
</body>

</html>